<!-- Commands for Amazon Elastic Beanstalk to Run the first time -->
container_commands:
    01initdb:
        command:
            "php artisan migrate:fresh"
    02initdb:
        command: 
            "php artisan migrate"
    03seederdb:
        command:
            "php artisan db:seed"        
    